<div class="container jumbotron">
    <form #employeeForm="ngForm" (ngSubmit)='onRegister(employeeForm.value)' novalidate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" minlength="5"  #Employeename="ngModel" required ngModel>
            <div *ngIf="Employeename.errors && (Employeename.touched|| Employeename.dirty)" class="alert alert-danger">
                <div [hidden]="!Employeename.errors.required">
                    Please fill this
                </div>
                <div [hidden]="!Employeename.errors.minlength">
                    Please fill 4 char
                </div>
            </div>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" checked ngModel>Male
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female" ngModel> Female
            </label>
        </div>

        <input type="checkbox" name="checkbox" ngModel>


       <p><button [disabled]="!employeeForm.form.valid" class="btn btn-primary btn-lg" type="submit">Register</button></p> 
    </form>
</div>
  